body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
overflow: hidden;
text-overflow: ellipsis;
white-space: normal;
}
.tabs {
background: #ef4e3a !important;
background-image: linear-gradient(0deg,#cc2311,#cc2311 50%,transparent 50%);
color: #fff;
height: 56px;
border: none !important;
}
.tab-item .icon {
display: block;
margin: 0 auto;
height: 36px;
font-size: 36px;
padding: 2px;
}
.tabs-icon-top>.tabs .tab-item {
font-size: 14px;
margin: auto;
}
.tabs-icon-top>.tabs .tab-item {
font-size: 14px;
}
.tab-item {
max-width: 100% !important;
opacity: .99 !important;
}
.tab-item2 {
background: rgb(255, 178, 40);
height: 100%;
}
.tab-demo {
background: rgb(209, 219, 224);
}

.txtalign {
text-align: center;
}
