body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
overflow: hidden;
text-overflow: ellipsis;
white-space: normal;
}
.tabs {
background-color: #ef4e3a;
background-image: linear-gradient(0deg,#cc2311,#cc2311 50%,transparent 50%);
color: #fff;
height: 52px;
border: none;
}
.tab-item .icon {
display: block;
margin: 0 auto;
height: 36px;
font-size: 36px;
padding: 2px;
}
.tabs-icon-top>.tabs .tab-item {
font-size: 14px;
}
.tab-item2 {
background: rgb(255, 178, 40);
}
